*~
*.gmo
*.la
*.lo
*.o
*.swp
*.pyc
*.txt.user
.DS_Store
.idea/*
cmake-*
build*
asan_build*
xcode_build*
msvc_build*
cygwin_build*
mingw_build*
po/POTFILES
po/remove-potcdate.sed
po/stamp-po
src/doxygen.hpp
test/tmp/*
doc/html
contrib/vms/.vagrant
