*~
*.gmo
*.la
*.lo
*.o
*.swp
*.pyc
*.txt.user
.DS_Store
config.log
config.status
configure
libtool
.deps/
.libs/
bin/
build*
config/autom4te.cache/
config/config.h
config/config.mk
config/exiv2.pc
po/Makefile
po/Makefile.in
po/POTFILES
po/remove-potcdate.sed
po/stamp-po
samples/addmoddel
samples/convert-test
samples/easyaccess-test
samples/exifcomment
samples/exifdata-test
samples/exifprint
samples/geotag
samples/iotest
samples/iptceasy
samples/iptcprint
samples/iptctest
samples/key-test
samples/largeiptc-test
samples/mmap-test
samples/prevtest
samples/stringto-test
samples/tiff-test
samples/werror-test
samples/write-test
samples/write2-test
samples/xmpparse
samples/xmpparser-test
samples/xmpsample
src/doxygen.hpp
src/exv_conf.h
src/lib
test/tmp/*
doc/html

include/exiv2/exv_conf.h

doc/templates/Exif
doc/templates/Iptc
doc/templates/xmp_*
doc/templates/*.html
doc/templates/*.xml
doc/templates/Canon*
doc/templates/Fujifilm*
doc/templates/Minolta*
doc/templates/Nikon*
doc/templates/Sony*
doc/templates/Olympus*
doc/templates/Panasonic*
doc/templates/Pentax*
doc/templates/Samsung*
doc/templates/Sigma*
doc/templates/Sony*
doc/templates/__*__
!doc/templates/__CrwMapping__
!doc/templates/__doctype__
!doc/templates/__header2__
!doc/templates/__index1__
!doc/templates/__index2__
!doc/templates/__index3__
!doc/templates/__intro__
!doc/templates/__maintitle__
!doc/templates/__makernotes__

website/bin/rssdate
website/doxygen/mainpage.hpp
website/html/*.html
website/html/doc
website/html/exiv2-manpage.pdf
website/var/__CanonCf__
website/var/__CanonCs__
website/var/__CanonFi__
website/var/__CanonPa__
website/var/__CanonPi__
website/var/__CanonSi__
website/var/__Canon__
website/var/__ChangeLog__
website/var/__Exif__
website/var/__Fujifilm__
website/var/__Iptc__
website/var/__MinoltaCs5D__
website/var/__MinoltaCs7D__
website/var/__MinoltaCsNew__
website/var/__Minolta__
website/var/__Nikon1__
website/var/__Nikon2__
website/var/__Nikon3__
website/var/__NikonAFT__
website/var/__NikonAf2__
website/var/__NikonAf__
website/var/__NikonCb1__
website/var/__NikonCb2__
website/var/__NikonCb2a__
website/var/__NikonCb2b__
website/var/__NikonCb3__
website/var/__NikonCb4__
website/var/__NikonFi__
website/var/__NikonFl1__
website/var/__NikonFl2__
website/var/__NikonFl3__
website/var/__NikonIi__
website/var/__NikonLd1__
website/var/__NikonLd2__
website/var/__NikonLd3__
website/var/__NikonMe__
website/var/__NikonPc__
website/var/__NikonSi01xx__
website/var/__NikonSiD300a__
website/var/__NikonSiD300b__
website/var/__NikonSiD40__
website/var/__NikonSiD80__
website/var/__NikonVr__
website/var/__NikonWt__
website/var/__OlympusCs__
website/var/__OlympusEq__
website/var/__OlympusFe1__
website/var/__OlympusFi__
website/var/__OlympusIp__
website/var/__OlympusRd2__
website/var/__OlympusRd__
website/var/__OlympusRi__
website/var/__Olympus__
website/var/__PanasonicRaw__
website/var/__Panasonic__
website/var/__Pentax__
website/var/__Samsung2__
website/var/__Sigma__
website/var/__Sony1Cs2__
website/var/__Sony1Cs__
website/var/__Sony1MltCs7D__
website/var/__Sony1MltCsA100__
website/var/__Sony1MltCsOld__
website/var/__Sony1__
website/var/__SonyMinolta__
website/var/__makernotes__
website/var/__manpage__
website/var/__sample-h__
website/var/__sample-p__
website/var/__sample-pt__
website/var/__whatsnew-latest__
website/var/__whatsnew-table__
website/var/__xmp_MPRI__
website/var/__xmp_MPReg__
website/var/__xmp_MP__
website/var/__xmp_MicrosoftPhoto__
website/var/__xmp_aux__
website/var/__xmp_crs__
website/var/__xmp_dc__
website/var/__xmp_digiKam__
website/var/__xmp_exif__
website/var/__xmp_expressionmedia__
website/var/__xmp_iptcExt__
website/var/__xmp_iptc__
website/var/__xmp_kipi__
website/var/__xmp_mediapro__
website/var/__xmp_mwg-rs__
website/var/__xmp_pdf__
website/var/__xmp_photoshop__
website/var/__xmp_plus__
website/var/__xmp_tiff__
website/var/__xmp_xmpBJ__
website/var/__xmp_xmpDM__
website/var/__xmp_xmpMM__
website/var/__xmp_xmpRights__
website/var/__xmp_xmpTPg__
website/var/__xmp_xmp__
