image: Visual Studio 2019

shallow_clone: true

environment:
  BUILD: CYGWIN64
  INTEGRATION_TESTS: 1
  ARCHITECTURE: x86_64
  UNIT_TESTS: 1
  WEBREADY: False
  WARNINGS_AS_ERRORS: ON

install:
  - set "PATH=C:\cygwin64\usr\local\bin;C:\cygwin64\bin;C:\cygwin64\usr\bin;C:\cygwin64\usr\sbin;"
  - C:\cygwin64\bin\bash -c "wget -O /usr/local/bin/apt-cyg https://raw.githubusercontent.com/transcode-open/apt-cyg/master/apt-cyg ; chmod +x /usr/local/bin/apt-cyg"
  # Issue:#2003 Change mirror used by apt-cyg. cmake installed by default mirror is broken
  - C:\cygwin64\bin\bash -c "apt-cyg mirror http://mirrors.kernel.org/sources.redhat.com/cygwin/"
  - C:\cygwin64\bin\bash -c "apt-cyg install cmake libexpat-devel libxml2-devel libxslt-devel python38-lxml zlib-devel"
  # As a last resort, build CMake from source.  Caution:  This takes about 60 minutes.
  # - C:\cygwin64\bin\bash -c "cd /tmp; curl -LO https://github.com/Kitware/CMake/releases/download/v3.22.1/cmake-3.22.1.tar.gz; tar xfz cmake-3.22.1.tar.gz; cd cmake-3.22.1 ; ./bootstrap ; make ; make install"

build_script:
  - set  CMD=mkdir -p build
  - set  CMD=%CMD%; cd build
  - set  CMD=%CMD%; cmake .. -G 'Unix Makefiles' -DCMAKE_CXX_STANDARD=98 -DCMAKE_CXX_FLAGS=-Wno-deprecated
  - set  CMD=%CMD%; cmake --build . --config Release
  - echo %CMD%
  - cd %APPVEYOR_BUILD_FOLDER%
  - C:\cygwin64\bin\bash -c "%CMD%"

test_script:
  - set  CMD=cd build
  - set  CMD=%CMD%; cmake --build . --config Release --target python_tests
  - echo %CMD%
  - cd %APPVEYOR_BUILD_FOLDER%
  - C:\cygwin64\bin\bash -c "%CMD%"
