/* -------------------------------------------------------------------------- */
/* General                                                                    */
html,
body {
	padding: 0;
	margin: 0;
}
.oddcolor {
    background-color: #f5f5f5
}
.evencolor {
    background-color: #FFFFFF;
}

/* -------------------------------------------------------------------------- */
/* Content                                                                    */

#content a[href^="http://"]:after {
	content: " " url("external_link.png");
}

#content a[href$=".pdf"]:after {
	content: " " url("pdf_file.png");
}

#content a[href$=".PDF"]:after {
	content: " " url("pdf_file.png");
}

/* -------------------------------------------------------------------------- */
/* Sidebar                                                                    */
#sidebar {
	font-family: Verdana,Sans-serif;
	font-size: 13px;
	background-color: #eeeeee;
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
}
#sidebar h2 {
	font-size: 18px;
	margin-top: 1em;
	margin-bottom: 0; 
	padding: 5px 10px 5px 10px;
}

#nav {
	margin: 1em 0 1em 0;
        padding: 0 5px 0 5px;
	line-height: 0;
}
#nav li {
	list-style: none;
	background-image: none;
	padding: 0 0 1px 0;
	line-height: 1.0;
}
#nav li :link, #nav li :visited {
	font-weight: normal;
	line-height: 1.0;
	color: #13264d;
	display: block;
	text-decoration: none;
	border: solid 1px #eeeeee;
	padding: 5px 10px 5px 10px;
}
#nav li :link:hover, #nav li :visited:hover {
	color: #0a7ddb;
	border: solid 1px #dddddd;
	border-style: dotted;
	background-color: #ffffd0;
}
#nav li :link:active, #nav li :visited:active {
	background-color: #f5f5f5;
}

#nav ul {
	margin: 1px 1px 0 1px;
	padding: 0 0 1px 0;
	background-color: #f8f8f8;
	border: solid 1px #ffffff;
}
#nav ul :link, #nav ul :visited {
	padding: 5px 5px 5px 1.5em;
	border: solid 1px #f8f8f8;
}
#nav ul :link:hover, #nav ul :visited:hover {
	background-image: none;
	border: solid 1px #f8f8f8;
	background-color: #ffffd0;
}

/* -------------------------------------------------------------------------- */
/* What's new                                                                 */
#latest h2 {
 	color: #ec361d;
}

#news {
	margin: 0 5px 1em 5px; 
	padding: 2px 2px 0 2px; 
	line-height: 1;
	font-size: 80%;
	background-color: #f8f8f8;
	border: solid 1px #ffffff;
}
#news li {
	list-style: none;
	padding: 0 0 0.5em 0;
}
#news :link, #news :visited {
	color: #13264d;
	display: block;
	border: solid 1px #f8f8f8;
	text-decoration: none;
	padding: 2px 2px 2px 2px; 
}
#news :link:hover, #news :visited:hover {
	color: #ec361d;
	border: solid 1px #ec361d;
	background-color: #ffffd0;
}
#news :link:active, #news :visited:active {
	background-color: #ffffff;
}

span.newstitle {
	font-weight: bold;
}

span.newsabstract {
	color: #000000;
}

/* -------------------------------------------------------------------------- */
/* Ohloh widgets                                                              */
#ohloh_thin_badge {
	margin-top: 2em;
	margin-left: 25px;
	margin-bottom: 1.5em;
}
#ohloh_factoids {
	margin-left:  10px;
	margin-right: 20px;
	border: solid 1px #bbbbbb;
	border-style: dotted;
}
#ohloh_factoids a[href^="http://"]:after {
	content: "";
}

/* -------------------------------------------------------------------------- */
/* Firefox banners                                                            */
#firefox {
	margin-top: 1.5em;
	margin-left: 15px;
	margin-bottom: 1.5em;
}

/* -------------------------------------------------------------------------- */
/* Validator                                                                  */
#validator {
	margin-top: 1.5em;
	margin-left: 35px;
	margin-bottom: 1.5em;
}

/* -------------------------------------------------------------------------- */
/* doxygen                                                                    */
#doxygen {
	margin-top: 2em;
	margin-left: 25px;
	margin-bottom: 1.5em;
}

/* -------------------------------------------------------------------------- */
/* Content                                                                    */
#content {
	position: absolute;
	top: 0px;
	left: 150px;
	padding: 20px 30px 0 30px;
}

/* -------------------------------------------------------------------------- */
/* Footer                                                                     */
#footer table {
        border-top: solid 1px #EEEAE4;
	margin-top: 1.5em;
        padding-top: 10px;
	font-size: 73%;
	line-height: normal;
}

/* -------------------------------------------------------------------------- */
/* Examples (Code)                                                            */
PRE.fragment {
	border: 1px solid #CCCCCC;
	background-color: #f5f5f5;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 2px;
	margin-right: 8px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
}
DIV.fragment {
	border: 1px solid #CCCCCC;
	background-color: #f5f5f5;
	padding: 6px;
}
SPAN.keyword       { color: #008000 }
SPAN.keywordtype   { color: #604020 }
SPAN.keywordflow   { color: #e08000 }
SPAN.comment       { color: #800000 }
SPAN.preprocessor  { color: #806020 }
SPAN.stringliteral { color: #002080 }
SPAN.charliteral   { color: #008080 }
