body {
    padding-bottom: 30px;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 4px;
    padding-right: 5px;
}

.margin-top-l {
    margin-top: 50px;
}

.margin-top-m {
    margin-top: 30px;
}

.margin-top-s {
    margin-top: 20px;
}

.margin-bottom-l {
    margin-bottom: 50px;
}

.margin-bottom-m {
    margin-bottom: 30px;
}

.margin-bottom-s {
    margin-bottom: 20px;
}
