on:
  pull_request:
    paths-ignore:
      - "*.md"
  workflow_dispatch:
  schedule:
  - cron: 0 4 * * *

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

name: Nightly - Linux distributions

jobs:
  distros:
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        # arch suffering this issue: https://github.com/abseil/abseil-cpp/issues/709
        container_image: ["fedora:latest", "debian:11", "archlinux:base", "ubuntu:22.04", "tgagor/centos:stream9", "alpine:3.17"]
        compiler: [g++, clang++]
        build_type: [Release, Debug]
        shared_libraries: [ON, OFF]
    container:
      image: ${{ matrix.container_image }}
      env:
        CMAKE_FLAGS: -DEXIV2_TEAM_EXTRA_WARNINGS=OFF -DEXIV2_ENABLE_WEBREADY=ON -DEXIV2_ENABLE_CURL=ON -DEXIV2_BUILD_UNIT_TESTS=OFF -DEXIV2_ENABLE_BMFF=ON -DEXIV2_TEAM_WARNINGS_AS_ERRORS=OFF -DEXIV2_ENABLE_PNG=ON -DCMAKE_INSTALL_PREFIX=install

    steps:
    - uses: actions/checkout@v3
    - name: install dependencies
      run: ./ci/install_dependencies.sh
    - name: build and compile
      run: |
        mkdir build && cd build
        cmake $CMAKE_FLAGS -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -DBUILD_SHARED_LIBS=${{ matrix.shared_libraries }} -DCMAKE_CXX_COMPILER=${{ matrix.compiler }} ..
        cmake --build . --parallel
        cmake --install .
