# Runs daily at 04:00 AM
on:
  workflow_dispatch:
  schedule:
  - cron: 0 4 * * *

name: CI for different Linux distributions

jobs:
  distros:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        # arch suffering this issue: https://github.com/abseil/abseil-cpp/issues/709
        # centos:8 had linking issues with gtest
        # centos:7 Added so that we have a distro with very old gcc version (4.9) which should be c++11 feature-complete
        container_image: ["fedora:latest", "debian:9", "archlinux:base", "ubuntu:20.04", "centos:7", "centos:8", "opensuse/tumbleweed", "alpine:3.13"]
        compiler: [g++, clang++]
        build_type: [Release, Debug]
        shared_libraries: [ON, OFF]
    container:
      image: ${{ matrix.container_image }}
      env:
        CMAKE_FLAGS: -DEXIV2_TEAM_EXTRA_WARNINGS=OFF -DEXIV2_ENABLE_WEBREADY=ON -DEXIV2_ENABLE_CURL=ON -DEXIV2_BUILD_UNIT_TESTS=OFF -DEXIV2_ENABLE_BMFF=ON -DEXIV2_TEAM_WARNINGS_AS_ERRORS=OFF -DCMAKE_INSTALL_PREFIX=install

    steps:
    - uses: actions/checkout@v2
    - name: install dependencies
      run: ./ci/install_dependencies.sh
    - name: build and compile
      run: |
        mkdir build && cd build
        cmake $CMAKE_FLAGS -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -DBUILD_SHARED_LIBS=${{ matrix.shared_libraries }} -DCMAKE_CXX_COMPILER=${{ matrix.compiler }} ..
        make -j $(nproc)
        make install
