on:
  schedule:
    - cron: 0 4 * * *
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

name: Nightly - Linux distributions

jobs:
  distros:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        container_image: ["fedora", "debian", "archlinux", "ubuntu", "tgagor/centos", "alpine"]
        compiler:
          - { CC: gcc,   CXX: g++ }
          - { CC: clang, CXX: clang++ }
        build_type: [Release, Debug]
        shared_libraries: [ON, OFF]
    container:
      image: ${{ matrix.container_image }}
      env:
        CC: ${{ matrix.compiler.CC }}
        CXX: ${{ matrix.compiler.CXX }}
        CMAKE_FLAGS: -DEXIV2_TEAM_EXTRA_WARNINGS=OFF -DEXIV2_ENABLE_WEBREADY=ON -DEXIV2_ENABLE_CURL=ON -DEXIV2_BUILD_UNIT_TESTS=OFF -DEXIV2_TEAM_WARNINGS_AS_ERRORS=OFF -DCMAKE_INSTALL_PREFIX=install

    steps:
      - uses: actions/checkout@v5
      - name: Install dependencies
        run: ./ci/install_dependencies.sh
      - name: Build and install
        run: |
          cmake -GNinja $CMAKE_FLAGS -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -DBUILD_SHARED_LIBS=${{ matrix.shared_libraries }} -S . -B build
          cmake --build build --parallel
          cmake --install build
