name: On PRs - meson

on: pull_request

concurrency:
  group: ${{github.workflow}}-${{github.head_ref}}
  cancel-in-progress: true

jobs:
  Ubuntu:
    runs-on: ubuntu-22.04
    name: Linux-GCC${{matrix.cxx}}-deps=${{matrix.deps}}
    strategy:
      matrix:
        cxx: ['9', '13']
        deps: ['enabled', 'disabled']
    steps:
      - uses: actions/checkout@v5
      - uses: egor-tensin/setup-gcc@v1
        with:
          version: ${{matrix.cxx}}
      - name: Install meson
        run: python3 -m pip install lxml meson ninja
      - name: Install dependencies
        run: sudo apt install -y cmake libcurl4-openssl-dev libbrotli-dev libexpat-dev libfmt-dev libinih-dev libz-dev gettext
      - name: Compile and Test
        run: |
          meson setup "${{github.workspace}}/build" -Dauto_features=${{matrix.deps}} -Dwarning_level=3
          meson compile -C "${{github.workspace}}/build" --verbose
          meson test -C "${{github.workspace}}/build" --verbose
  Ubuntu-clang:
    runs-on: ubuntu-22.04
    name: Linux-Clang${{matrix.cxx}}-deps=${{matrix.deps}}
    strategy:
      matrix:
        cxx: ['11', '21']
        deps: ['enabled', 'disabled']
    steps:
      - uses: actions/checkout@v5
      - uses: egor-tensin/setup-clang@v1
        with:
          version: ${{matrix.cxx}}
      - name: Install meson
        run: |
          python3 -m pip install lxml meson ninja
      - name: Install dependencies
        run: |
          sudo apt install -y libcurl4-openssl-dev libbrotli-dev libz-dev gettext
          sudo apt install -y libc++abi-${{matrix.cxx}}-dev libc++-${{matrix.cxx}}-dev
      - name: Compile and Test
        env:
          CXXFLAGS: -stdlib=libc++
        run: |
          meson setup "${{github.workspace}}/build" -Dauto_features=${{matrix.deps}} -Dwarning_level=3
          meson compile -C "${{github.workspace}}/build" --verbose
          meson test -C "${{github.workspace}}/build" --verbose
  VisualStudio:
    runs-on: windows-latest
    name: MSVC-${{matrix.deps}}-${{matrix.platform}}
    strategy:
      matrix:
        deps: ['forcefallback', 'default']
        platform: ['x64', 'x86']
    steps:
      - uses: actions/checkout@v5

      - name: Install packages
        run: |
          python -m pip install lxml meson ninja

      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{matrix.platform}}

      - name: Compile and Test
        run: |
          meson setup "${{github.workspace}}/build" --wrap-mode=${{matrix.deps}} -Dwarning_level=3 -Dcpp_std=c++latest -Ddefault_library=static
          meson compile -C "${{github.workspace}}/build" --verbose
          meson test -C "${{github.workspace}}/build" --verbose
  VisualStudio-clang-cl:
    runs-on: windows-latest
    name: clang-cl-${{matrix.deps}}
    strategy:
      matrix:
        deps: ['forcefallback', 'default']
    steps:
      - uses: actions/checkout@v5

      - name: Install packages
        run: |
          python -m pip install lxml meson ninja

      - uses: ilammy/msvc-dev-cmd@v1

      - name: Compile and Test
        env:
          CC: clang-cl
          CXX: clang-cl
        run: |
          meson setup "${{github.workspace}}/build" --wrap-mode=${{matrix.deps}} -Dwarning_level=3 -Dcpp_std=c++latest -Db_sanitize=address -Ddefault_library=static
          meson compile -C "${{github.workspace}}/build" --verbose
          meson test -C "${{github.workspace}}/build" --verbose
  MSYS2:
    runs-on: ${{matrix.runner}}
    name: MSYS2-${{matrix.platform}}-deps=${{matrix.deps}}
    strategy:
      matrix:
        deps: ['enabled', 'disabled']
        platform: ['UCRT64', 'CLANGARM64']
        include:
          - platform: UCRT64
            runner: windows-latest
          - platform: CLANGARM64
            runner: windows-11-arm
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v5

      - uses: msys2/setup-msys2@v2
        with:
          msystem: ${{matrix.platform}}
          pacboy: >-
            cc:p
            cmake:p
            curl:p
            gtest:p
            libinih:p
            meson:p
            ninja:p
            pkgconf:p
            python-lxml:p

      - name: Compile and Test
        run: |
          meson setup "${{github.workspace}}/build" -Dauto_features=${{matrix.deps}} -Dwarning_level=3 -Ddefault_library=static
          meson compile -C "${{github.workspace}}/build" --verbose
          meson test -C "${{github.workspace}}/build" --verbose
  MSYS:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v5
      - uses: msys2/setup-msys2@v2
        with:
          msystem: 'MSYS'
          install: >-
            cmake
            gcc
            meson
            ninja
            pkgconf
      - name: Compile and Test
        run: |
          meson setup build -Dwarning_level=3 -Dcpp_std=gnu++20
          meson compile -C build --verbose
          meson test -C build --verbose
  MacOS:
    runs-on: macos-latest
    name: macOS-deps=${{matrix.deps}}
    strategy:
      matrix:
        deps: ['enabled', 'disabled']
    steps:
      - uses: actions/checkout@v5

      - name: Install packages
        run: |
          brew install inih meson
          python -m pip install lxml

      - name: Compile and Test
        run: |
          meson setup "${{github.workspace}}/build" -Dauto_features=${{matrix.deps}} -Dwarning_level=3 -Dnls=disabled -Db_lundef=false -Db_sanitize=address,undefined
          meson compile -C "${{github.workspace}}/build" --verbose
          meson test -C "${{github.workspace}}/build" --verbose
  FreeBSD:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: vmactions/freebsd-vm@v1
        with:
          prepare: |
            pkg install -y cmake curl ninja meson gettext python pkgconf googletest expat inih brotli
          run: |
            meson setup "${{github.workspace}}/build" -Dwarning_level=3
            meson compile -C "${{github.workspace}}/build" --verbose
            meson test -C "${{github.workspace}}/build" --verbose
  OmniOS:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: vmactions/omnios-vm@v1
        with:
          prepare: |
            pkg install brotli cmake curl expat gcc14 meson-313 ninja pkg-config python-313
          run: |
            /usr/lib/python3.13/bin/meson setup "${{github.workspace}}/build" -Dwarning_level=3 -DunitTests=enabled -Dinih=enabled
            /usr/lib/python3.13/bin/meson compile -C "${{github.workspace}}/build" --verbose
            /usr/lib/python3.13/bin/meson test -C "${{github.workspace}}/build" --verbose
  Emscripten:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install packages
        run: |
          sudo apt install -y meson
      - name: Emscripten
        uses: mymindstorm/setup-emsdk@v14
      - name: Compile
        run: |
          meson setup "${{github.workspace}}/build" --cross-file="${{github.workspace}}/em.txt" --wrap-mode=forcefallback -Ddefault_library=static -Dwarning_level=3 -DunitTests=disabled -Dcurl=disabled
          meson compile -C "${{github.workspace}}/build" --verbose
