name: On PRs - Mac Matrix

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  pull_request:
    paths-ignore:
      - "*.md"

jobs:
  MacOS:
    name: 'macOS - XCode - ${{matrix.build_type}} - SHARED:${{matrix.shared_libraries}}'
    runs-on: macos-latest

    strategy:
      fail-fast: false
      matrix:
        build_type: [Release, Debug]
        shared_libraries: [ON, OFF]

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          brew install ninja fmt inih googletest

      - name: Build
        run: |
          cmake --preset base_mac -S . -B build -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DBUILD_SHARED_LIBS=${{matrix.shared_libraries}}
          cmake --build build --parallel

      - name: Install
        run: |
          cd build
          cmake --install .

      - name: Test
        run: |
          ctest --test-dir build --output-on-failure
