name: Clang Format Checker
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
on: [push, pull_request]
jobs:
  clang-format-checking:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Checkout submodules
        run: git submodule update --init --depth=1
      - uses: DoozyX/clang-format-lint-action@v0.20
        with:
          source: '.'
          exclude: './xmpsdk ./contrib'
          extensions: 'c,h,cpp,hpp'
          style: file
