name: On PUSH - Linux Special Builds for main branch

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  push:
    branches:
    - main
    tags:
    - '!*'
    paths-ignore:
      - "*.md"
  workflow_dispatch:

jobs:
  special_debugRelease:
    name: 'Ubuntu 22.04 - GCC - Debug+Coverage'
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v5

      - name: Install dependencies
        run: |
          sudo eatmydata apt-get -y install ninja-build gcovr
          python3 -m pip install conan==1.* lxml

      - name: Conan common config
        run: |
          conan profile new --detect default
          conan profile update settings.compiler.libcxx=libstdc++11 default

      - name: Run Conan
        run: |
          mkdir build && cd build
          conan profile list
          conan profile show default
          conan install .. -o webready=True --build missing

      - name: Build
        run: |
          cmake --preset linux-coverage -S . -B build
          cmake --build build

      - name: Tests + Upload coverage
        run: |
          cd build
          ctest --output-on-failure
          # this needs to match th ecommand in on_PR_linux_secial_builds.yml!
          gcovr --root .. --object-dir . --exclude-unreachable-branches --exclude-throw-branches --xml -o coverage.xml .
          curl https://keybase.io/codecovsecurity/pgp_keys.asc | gpg --import
          curl -Os https://uploader.codecov.io/latest/linux/codecov
          curl -Os https://uploader.codecov.io/latest/linux/codecov.SHA256SUM
          curl -Os https://uploader.codecov.io/latest/linux/codecov.SHA256SUM.sig
          gpg --verify codecov.SHA256SUM.sig codecov.SHA256SUM
          shasum -a 256 -c codecov.SHA256SUM
          chmod +x codecov
          ./codecov -f build/coverage.xml
