name: Mac Matrix on PRs

on: [pull_request]

jobs:
  windows:
    name: 'MacOS - clang, BuildType:${{matrix.build_type}}, SHARED:${{matrix.shared_libraries}}'
    runs-on: macos-latest

    strategy:
      fail-fast: false
      matrix:
        build_type: [Release, Debug]
        shared_libraries: [ON, OFF]
        
    steps:
      - uses: actions/checkout@v2

      - name: install dependencies
        run: |
          pip3 install conan==1.36.0

      - name: Run Conan
        run: |
          mkdir build && cd build
          conan profile new --detect default
          conan profile show default
          conan install .. -o webready=True --build missing

      - name: Build
        run: |
          cd build
          cmake -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DBUILD_SHARED_LIBS=${{matrix.shared_libraries}} -DEXIV2_ENABLE_PNG=ON -DEXIV2_ENABLE_WEBREADY=ON -DEXIV2_ENABLE_CURL=ON -DEXIV2_BUILD_UNIT_TESTS=ON -DEXIV2_ENABLE_BMFF=ON -DEXIV2_TEAM_WARNINGS_AS_ERRORS=ON -DCMAKE_INSTALL_PREFIX=install -DCMAKE_CXX_FLAGS="-Wno-deprecated-declarations" ..
          make -j

      - name: Install
        run: |
          cd build
          make install
          # tree install Not available on Mac

      - name: Test
        env:
          EXIV2_EXT: .exe
        run: |
          cd build
          ctest --output-on-failure
