name: On PRs - Mac Special Builds

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - "*.md"

jobs:
  MacOS_releaseSanitizers:
    name: 'MacOS - Clang - Release+Sanitizers'
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3

      - name: install dependencies
        run: |
          brew install ninja
          brew install inih
          brew install googletest

      - name: Build
        run: |
          cmake --preset base_mac -S . -B build -DEXIV2_TEAM_USE_SANITIZERS=ON
          cmake --build build --parallel

      - name: Tests
        run: |
          cd build
          ctest --output-on-failure
