name: Clang Format Checker
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
on: [push, pull_request]
jobs:
  clang-format-checking:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: DoozyX/clang-format-lint-action@v0.17
        with:
          source: '.'
          exclude: './xmpsdk ./contrib'
          extensions: 'c,h,cpp,hpp'
          style: file
